# Virtual environments
venv/
.venv/
env/

# Dataset — too large for GitHub (download from https://github.com/karolpiczak/ESC-50)
tinyml-acoustic/data/ESC-50-master/audio/
tinyml-acoustic/data/ESC-50.zip

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Office temp files
~$*.docx
~$*.pptx
